* {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyparent {
  background: #0f1115 url("../images/login-bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
}
.hidden {
  display: none;
}
.sperator {
  background-color: transparent;
  width: 1235px;
}
input {
  cursor: pointer;
}
button {
  cursor: pointer;
}
.auth-wrapper {
  background-color: transparent;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

.auth-box {
  height: 312.625px;
  background-color: white;
  width: 300px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 80px auto 120px;
}

.medflex-logo {
  padding: 21px;
}

.login-content {
  background-color: transparent;
  width: 100%;
  display: flex;
  height: 100%;
  padding-left: 21px;
  justify-content: space-between;
  flex-direction: column;
}

.loginbuttons {
  background-color: red;
}

.logosvg {
  width: 157px;
  height: 45px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.45rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0f1115;
  outline: none;
  appearance: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cdd6dc;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input:focus {
  border: 1px solid #88b5f7;
  outline: 4px solid #f0f1f4;
}
.error-border {
  border: 1px solid red;
}
.error-tooltip {
  position: absolute;
  color: red;
  font-size: 12px;
  top: 66px;
  left: 1px;
  z-index: 5;
  white-space: nowrap;
}
.input-container {
  position: relative;
}

.form-label {
  display: flex;
  margin-bottom: 10px;
}

.text-danger {
  padding-left: 4px;
  color: rgb(255, 90, 57);
}

.input-container {
  margin-bottom: 20px;
  padding: 0px 20px 0px 0px;
  width: 100%;
}

::placeholder {
  color: #a8b3bb;
  opacity: 1;
}

.login-conatiner {
  margin-top: 17px;
  padding-left: 1px;
}
.text-information {
  box-sizing: border-box;
  color: rgb(39, 39, 39);
  font-size: 14.4px;
  font-weight: 300;
  height: 51.8438px;
  line-height: 17px;
  margin-block-end: 24px;
  margin-bottom: 24px;
  width: 260px;
}
.input-container {
  margin-bottom: 16.5px;
}

a {
  color: #21252a;
}

.button-container {
  display: grid;
  gap: 8px;
  padding-right: 20px;
}

.loginbutton {
  color: rgb(255, 255, 255);
  background-color: #116aef;
  border: 1px solid #116aef;
  outline: none;
  padding: 0.375rem;
  font-size: 0.9rem;
  border-radius: 6px;
  line-height: 1.5;
  box-shadow: inset 1.4px 1.5px 0px rgba(255, 255, 255, 0.25),
    inset -1.5px -1.5px 0px rgba(0, 0, 0, 0.1);
}

.loginbutton:hover {
  background-color: #0e5acb;
}

@media (min-width: 300px) {
  .bodyparent {
    justify-content: center;
    align-items: center;
  }

  .sperator {
    width: 0;
  }

  .text-information {
    box-sizing: border-box;
    color: rgb(39, 39, 39);
    display: block;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
      "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14.4px;
    font-weight: 300;
    height: 51.8438px;
    line-height: 17px;
    margin-bottom: 16.5px;
    margin-top: 4.5px;
    text-align: start;
    width: 260px;
  }
  .auth-wrapper {
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 0px;
  }

  .auth-box {
    height: 312.625px;
  }

  .logosvg {
    width: 138.325px;
    height: 39.9875px;
  }

  .medflex-logo {
    padding-left: 20px;
    padding-top: 20px;
  }

  .login-conatiner {
    margin-top: 7.4px;
    padding-left: 0px;
  }

  .login-content {
    padding-left: 20px;
  }

  .form-label {
    font-weight: 378.5;
    color: rgb(39, 39, 39);
    font-size: 14.4px;
    margin-bottom: 9.5px;
  }
  .form-control {
    padding: 0.365rem 0.75rem;
    padding-top: 4.5px;
    font-size: 0.9rem;
    height: 35.2px;
  }
  .input-container {
    margin-bottom: 23px;
  }
}

@media (min-width: 370px) {
  h4 {
    font-size: 20.6102px;
  }
}

@media (min-width: 400px) {
  .bodyparent {
    justify-content: center;
    align-items: center;
  }

  .sperator {
    width: 0;
  }

  .auth-wrapper {
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 0px;
  }

  .logosvg {
    width: 138px;
    height: 39.9px;
  }

  .medflex-logo {
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 576px) {
  .bodyparent {
    justify-content: center;
    align-items: center;
  }

  .sperator {
    width: 0;
  }

  .auth-wrapper {
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 0px;
  }
}
@media (min-width: 990px) {
  .sperator {
    width: 636px;
  }

  .auth-wrapper {
    justify-content: end;
    align-items: center;
    width: 300px;
    margin-top: 0px;
  }

  .logosvg {
    width: 138px;
    height: 39.9px;
  }

  .medflex-logo {
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 1200px) {
  .sperator {
    width: 996px;
  }

  .auth-wrapper {
    justify-content: end;
    align-items: center;
    width: 300px;
    margin-top: 0px;
  }

  .logosvg {
    width: 138px;
    height: 39.9px;
  }

  .medflex-logo {
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 1400px) {
  .sperator {
    width: 996px;
  }

  .auth-wrapper {
    justify-content: end;
    align-items: center;
    width: 300px;
    margin-top: 0px;
  }

  .logosvg {
    width: 138px;
    height: 39.9px;
  }

  .medflex-logo {
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 1900px) {
  .sperator {
    width: 996px;
  }

  .auth-wrapper {
    justify-content: end;
    align-items: center;
    width: 300px;
    margin-top: 0px;
  }

  .logosvg {
    width: 138px;
    height: 39.9px;
  }

  .medflex-logo {
    padding-left: 20px;
    padding-top: 20px;
  }
}
