{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/forgetpassword.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
  </head>


  <body>

    <div class="bodyparent">
      <div class="sperator"></div>
      <div class="auth-wrapper">
        <div class="makespace">
        </div>
        <div class="auth-box">
          <div class="medflex-logo">
            <img class="logosvg" src="{% static 'images/logo-dark.svg' %}" alt="medfelxogo">
          </div>
          <div class="login-content">
            <h6 class="text-information">In order to access your dashboard, please enter the email ID you provided during
              the
              registration process.</h6>
            <form method="POST">
              {% csrf_token %}
              <div class="login-conatiner">
                <div class="input-container">
                  <div class="error-tooltip hidden"></div>
                  {% if error_fields %}
                    <div class="error-tooltip" id="tooltip">{{error_fields.email}}</div>
                  {% endif %}
                  <label class="form-label" for="email">Your email <span class="text-danger">*</span></label>
                  <input type="text" id="email" name="email"
                         class="form-control {% if error_fields.email %} error-border {% endif %}"
                         placeholder="Enter your email" value="{{ request.POST.email }}">

                </div>
                <div class="button-container">
                  <button type="submit" class="loginbutton">Submit</button>
                </div>

              </div>
            </div>
          </div>

        </div>

      </body>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          let emailInput = document.getElementById("email");
          const errorToolTip = document.querySelector(".error-tooltip");
          const backEndToolTip =document.getElementById('tooltip');

          document.querySelector("form").addEventListener("submit", function (event) {
            let emailValue = emailInput.value
            let emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            if (emailValue === "") {
              event.preventDefault(); // Prevent form submission
              emailInput.classList.add("error-border");
              errorToolTip.classList.remove("hidden");
              errorToolTip.textContent = "Email cannot be empty or spaces only.";
            } else if (!emailPattern.test(emailValue)) {
              event.preventDefault();
              emailInput.classList.add("error-border");
              errorToolTip.classList.remove("hidden");
              errorToolTip.textContent = "Please enter a valid email address.";
            } else {
              emailInput.classList.remove("error-border");
              errorToolTip.classList.add("hidden");
            }
          });

          emailInput.addEventListener("input", function () {
            emailInput.classList.remove("error-border");
            errorToolTip.classList.add("hidden");
            errorToolTip.textContent = ""
            backEndToolTip.classList.add('hidden')
          });
        });

      </script>

    </html>


    