
{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
  </head>


  <body>
    <div class="bodyparent">
      <div class="sperator"></div>
      <div class="auth-wrapper">
        <div class="makespace">
        </div>
        <div class="auth-box">

          <div class="medflex-logo">
            <img class="logosvg" src="{% static 'images/logo-dark.svg' %}" alt="medfelxogo">
          </div>
          <div class="login-content">
            <form method="POST">
              {% csrf_token %}
              <div class="login-conatiner">
                <h4>Login</h4>
                <div class="input-container">
                  <label class="form-label" for="email">Your email <span
                    class="text-danger">*</span></label>
                  {% if error_fields.email %}
                    <div class="error-tooltip">{{ error_fields.email.0 }}</div>
                  {% endif %}
                  <input type="text" id="email" name="email" class="form-control {% if error_fields.email %} error-border {% endif %}" placeholder="Enter your email" value="{{ request.POST.email }}">

                </div>
                <div class="input-container">
                  <label class="form-label set-style" for="password">Your password <span
                    class="text-danger">*</span></label>
                  {% if error_fields.password %}
                    <div class="error-tooltip">{{ error_fields.password.0 }}</div>
                  {% endif %}
                  <div class="input-group">
                    <input type="password" id="password" class="form-control {% if error_fields.password %} error-border {% endif %}"
                           name="password"
                           placeholder="Enter password" value="{{ request.POST.password }}">

                    <button type="button" id="eye-icon" class="eye-icon">
                      <i class="ri-eye-line"></i>
                    </button>
                  </div>
                </div>

                <div class="forget-password">
                  <a class="forget" href="{% url 'password_reset' %}">Forgot password?</a>
                </div>

                <div class="button-container">
                  <button href="{% url 'signup' %}" type="submit" class="loginbutton">Login</button>
                  <a href="{% url 'signup' %}" class="singinbutton">Not registered? Signup</a>
                </div>
                <a class="google-button" href="{% provider_login_url 'google' %}">
                  <img class="google" src="{% static 'images/google.svg' %}" title="Sign in with Google" alt="Google Logo">
                </a>

              </div>
            </div>
          </div>

        </div>

      </body>
      <script>
        document.getElementById("eye-icon").addEventListener('click',function(){
          const passwordContainer = document.getElementById("password");
          if(passwordContainer.type == 'password'){
            passwordContainer.type = "text"
          }else{
            passwordContainer.type = "password"
          }

        })
      </script>
    </html>