
{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email Sent Successful</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <style>
    .input-container p {
      margin-top: 10px;
      font-size: 16px;
      color: #333;
      line-height: 1.5;
      margin-bottom: 10px;
    }
    h2{
      font-size: 20.39px;
      margin-bottom: 19px;
      margin-top: -3.5px;
      font-weight: 500;
      line-height: 1.2;
    }
  </style>

  <body>
    <div class="bodyparent">
      <div class="sperator"></div>
      <div class="auth-wrapper">
        <div class="makespace"></div>

        <div class="auth-box"  style="height:390px;">
          <div class="medflex-logo">
            <img class="logosvg" src="{% static 'images/logo-dark.svg' %}" alt="medfelxogo">
          </div>

          <div class="login-content">
            <form method="POST">
              {% csrf_token %}
              <div class="login-container">
                <h4>Password Reset Email Sent Successful</h4>
                <div class="input-container">
                  <h2 >Check Your Email</h2>
                  <p>If an account with the email you entered exists, you will receive a password reset link.</p>
                  <p>Please check your inbox and follow the instructions.</p>
                </div>
                <div class="button-container">
                  <a href="{% url 'login' %}" class="singinbutton" style="background-color: #116aef; color:#ffffff; border: 1px solid #116aef;"
                     onmouseover="this.style.backgroundColor='#0e5acb'"
                     onmouseout="this.style.backgroundColor='#116aef'">Go to Login Page</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
